#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  bin = "./tmp/main"
  cmd = "templ generate view/ && go build -o ./tmp/main ."
  delay = 1000
  exclude_regex = ["_test.go", "_templ.go"]
  include_ext = ["go", "templ", "css"]
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[proxy]
  enabled = true
  proxy_port = 7331
  app_port = 8080


[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
