package layouts

templ Sidebar() {
	<aside class="sidebar">
		<div class="sidebar--header">
			<a href="/"><h1>Torus</h1></a>
		</div>
		<nav class="sidebar--menu">
			<a href="/search" class="sidebar--menu-item sidebar--menu-item--active">Search</a>
			<a href="/activity" class="sidebar--menu-item">Activity</a>
			<a href="/settings" class="sidebar--menu-item">Settings</a>
		</nav>
	</aside>
}

