@layer theme {
    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.147 0.004 49.25);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.147 0.004 49.25);
        --primary: oklch(0.65 0.18 132);
        --primary-foreground: oklch(0.99 0.03 121);
        --secondary: oklch(0.967 0.001 286.375);
        --secondary-foreground: oklch(0.21 0.006 285.885);
        --muted: oklch(0.97 0.001 106.424);
        --muted-foreground: oklch(0.553 0.013 58.071);
        --faint: oklch(0.985 0.001 106.423);
        --accent: oklch(0.65 0.18 132);
        --danger: oklch(0.577 0.245 27.325);
        --danger-foreground: oklch(0.985 0.001 106.423);
        --success: #008032;
        --success-foreground: #fafafa;
        --warning: #a65b00;
        --warning-foreground: #09090b;
        --border: oklch(0.923 0.003 48.717);
        --input: oklch(0.923 0.003 48.717);
        --ring: oklch(0.709 0.01 56.259);

        --radius-small: 0.125rem;
        --radius-medium: 0.375rem;
        --radius-large: 0.45rem;
        --radius-full: 9999px;

        --destructive: var(--danger);
        --destructive-foreground: var(--danger-foreground);
    }

    [data-theme="dark"] {
        color-scheme: dark;
        --background: oklch(0.147 0.004 49.25);
        --foreground: oklch(0.985 0.001 106.423);
        --card: oklch(0.216 0.006 56.043);
        --card-foreground: oklch(0.985 0.001 106.423);
        --primary: oklch(0.77 0.2 131);
        --primary-foreground: oklch(0.27 0.07 132);
        --secondary: oklch(0.274 0.006 286.033);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.268 0.007 34.298);
        --muted-foreground: oklch(0.709 0.01 56.259);
        --faint: oklch(0.216 0.006 56.043);
        --accent: oklch(0.77 0.2 131);
        --danger: oklch(0.704 0.191 22.216);
        --danger-foreground: oklch(0.985 0.001 106.423);
        --success: #6cc070;
        --success-foreground: #18181b;
        --warning: #f0a030;
        --warning-foreground: #09090b;
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.553 0.013 58.071);

        --destructive: var(--danger);
        --destructive-foreground: var(--danger-foreground);
    }
}
