package pages

import (
	"sudhanv09/torus/views/layouts"
)

templ Home() {
	@layouts.Base("Home") {
		<header class="app-nav">
			<input class="input" placeholder="Search" type="text" />
			<p>User</p>
		</header>
	}
}
